$square-root-3: 1.7320508075688772;
$sq3: $square-root-3;
$_2sq3: 2*$square-root-3;
$unit: 40px;
*,
:before,
:after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding-top: 1rem;
  //display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background: #222;
}

.app {
  position: relative;
  //background: gray;
  display: table;
  margin: 0 auto;
  > header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    button {
      font-size: 1rem;
      margin-right: .5rem;
      cursor: pointer;
    }
  }
  &.debug {
    .box {
      .circle {
        box-shadow: 0 0 0 1px red;
      }
      .rect {
        outline: 1px solid;
      }
      .svg-hexagon {
        outline: 1px solid red;
      }
    }
  }
}

.hexagons {
  font-size: $unit;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  //background: gray;
  &-1 {
    position: relative;
    //left: $sq3*1em;
    padding-left: $sq3*1em;
    max-width: 6 * $_2sq3*1em;
    max-width: 5 * $_2sq3*1em;
    //outline: 1px solid;
    .box {
      &:nth-of-type(odd) {
        svg {
          fill: pink;
        }
      }
      &:nth-of-type(even) {
        svg {
          fill: hotpink;
        }
      }
    }
  }
  &-2 {
    position: absolute;
    top: 3em;
    max-width: 5 * $_2sq3*1em;
    //outline: 1px solid;
    .box {
      &:nth-of-type(odd) {
        svg {
          fill: deeppink;
        }
      }
      &:nth-of-type(even) {
        svg {
          fill: purple;
        }
      }
    }
  }
}

.box {
  position: relative;
  font-size: inherit;
  width: 1em*$_2sq3;
  height: 4em;
  margin-bottom: 2em;
  cursor: pointer;
  z-index: 1;
  transition: 200ms;
}

.circle {
  position: absolute;
  top: 2em - 1em*$sq3;
  left: 0;
  width: 2em*$sq3;
  height: 2em*$sq3;
  border-radius: 50%;
  background: transparent no-repeat 50% 50% / contain;
  overflow: hidden;
  box-shadow: inset 0 0 0 2px rgba(black, .1);
}

.rect {
  font-size: inherit;
  width: inherit;
  height: 2em;
  top: 1em;
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  > div {
    border-radius: 4px;
    font-size: 1rem;
    color: rgba(white, .8);
    padding: .1rem .5rem 0;
    background: rgba(black, .7);
    position: relative;
    top: 1rem;
  }
}

.svg-hexagon {
  z-index: 0;
  //display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pattern {
    width: 100%;
    height: 100%;
  }
  path {
    //fill: pink;  
  }
}